/linux/runtime
/linux/output
/linux/traveling-ruby-gems*
/linux-musl/runtime
/linux-musl/output
/linux-musl/traveling-ruby-gems*
/macos/traveling-ruby-gems*
/windows/traveling-ruby-gems*
/macos/runtime*
/macos/output
/macos/work
/windows/cache
/windows/output
*.sublime-workspace
*.tar.gz
.DS_Store
ok
output.txt
*.tmp