name: Alpine Musl - arm64 - build from dockerhub builder

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  release:
    types: [published]

env:
  PKG_DATE: experimental

jobs:
  make-linux-musl-arm64:
    strategy:
      matrix:
        os: [ubuntu-22.04-arm]
        ruby-version: [3.2.9, 3.3.10, 3.4.7]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - name: "Set up Ruby"
        uses: ruby/setup-ruby@master
        with:
            ruby-version: ${{ matrix.ruby-version }}
      - name: package
        run: |
            cd linux-musl
            rake
            rake package_full
            ls
        env:
          ARCHITECTURES: "arm64"
          RUBY_VERSIONS: ${{ matrix.ruby-version }}
      - name: package gems
        run: ./scripts/package-gems.sh    
        env:
          PLATFORM: linux-musl
      - name: 'Upload Artifact - linux arm64'
        uses: actions/upload-artifact@v5
        with:
          name: traveling-ruby-${{ env.PKG_DATE }}-${{ matrix.ruby-version }}-linux-musl-arm64.tar.gz
          path: linux-musl/traveling-ruby*.tar.gz
      - name: test
        run: |
            cd linux-musl
            rake test_docker
        env:
          ARCHITECTURES: "arm64"
          RUBY_VERSIONS: ${{ matrix.ruby-version }}


      - name: Publish archives and packages
        if: ${{ github.event_name == 'release' && github.event.action == 'published' }}
        uses: softprops/action-gh-release@master
        with:
          tag_name: ${{ github.event.release.tag_name }}
          name: 'Release ${{ github.event.release.tag_name }}'
          generate_release_notes: true
          body: ${{ github.event.release.body }}
          files: linux-musl/traveling-ruby-*.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}