name: Alpine - x86_64 - image builder

on:
  workflow_dispatch:
  # push:
  #   branches: [ main ]
  # pull_request:
  #   branches: [ main ]

jobs:
  make-linux-musl-x86_64-image:
    strategy:
      matrix:
        os: [ubuntu-latest]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - name: "Set up Ruby"
        uses: ruby/setup-ruby@master
        with:
            ruby-version: 3.3.10
      - name: build image
        run: |
          cd linux-musl
          ARCHITECTURES="x86_64" rake image
          docker images
        env:
          ARCHITECTURES: "x86_64"

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push Docker image
        run: |
          docker push you54f/traveling-ruby-builder-x86_64:4.0.0-linux-musl