name: Linux - arm64 - image builder
on:
  workflow_dispatch:
  # push:
  #   branches: [ main ]
  # pull_request:
  #   branches: [ main ]


jobs:
  make-ubuntu-arm64-image:
    strategy:
      matrix:
        os: [ubuntu-22.04-arm]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: "Set up Ruby"
        uses: ruby/setup-ruby@master
        with:
            ruby-version: 3.3.10
      - name: build image
        run: |
            cd linux
            ARCHITECTURES="arm64" rake image
            docker images
        env:
          ARCHITECTURES: "arm64"