name: Windows
on:
  workflow_dispatch:
  push:
    branches: [ main, test/win-ext ]
  pull_request:
    branches: [ main ]
  release:
    types: [published]

env:
  PKG_DATE: 20251111

jobs:
  build-windows:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        arch: [x86_64]
        ruby-version: [3.2.9, 3.3.10, 3.4.7]
        os: [windows-latest]
        # include:
        #   - os: windows-11-arm
        #     arch: arm64
        #     ruby-version: 3.4.7
      fail-fast: false
    steps:
      - uses: actions/checkout@v5
      - uses: ruby/setup-ruby-pkgs@v1
        if: runner.os == 'windows' # no bundler cache as we need to install nokogiri/sqlite3 forks first
        with:
          working-directory: shared/gemfiles/${{ env.PKG_DATE }}
          mingw:             icu mman
          # mingw:             ccache cmake pkg-config libtool openssl ncurses gmp libffi libyaml sqlite xz libmariadbclient libpqxx icu libssh2 libxml2 libxslt clang cc autotools doxygen graphviz gcc-libs gdbm libyaml libffi pdcurses openssl gmp tk
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true
      - name: package ${{ matrix.arch }}
        shell: bash
        working-directory: windows
        run: |
            uname -m
            mkdir -p cache output/${{ matrix.ruby-version }}/${{ matrix.arch }}
            ./build-ruby.sh -a ${{ matrix.arch }} -r ${{ matrix.ruby-version }} cache output/${{ matrix.ruby-version }}/${{ matrix.arch }}
            ./package.sh -r traveling-ruby-${{ env.PKG_DATE }}-${{ matrix.ruby-version }}-windows-${{ matrix.arch }}.tar.gz output/${{ matrix.ruby-version }}/${{ matrix.arch }}
            ./package.sh -E traveling-ruby-gems-${{ env.PKG_DATE }}-${{ matrix.ruby-version }}-windows-${{ matrix.arch }} output/${{ matrix.ruby-version }}/${{ matrix.arch }}
            touch traveling-ruby-gems-${{ env.PKG_DATE }}-${{ matrix.ruby-version }}-windows-${{ matrix.arch }}/ok
            ./package.sh -f -r traveling-ruby-${{ env.PKG_DATE }}-${{ matrix.ruby-version }}-windows-${{ matrix.arch }}-full.tar.gz output/${{ matrix.ruby-version }}/${{ matrix.arch }}
        env:
          RUBY_VERSIONS: ${{ matrix.ruby-version }}
          ARCHITECTURES: ${{ matrix.arch }}
      - name: package gems
        shell: bash
        run: ./scripts/package-gems.sh    
        env:
          PLATFORM: windows
      - name: "Upload Artifact - traveling-ruby-${{ env.PKG_DATE }}-${{ matrix.ruby-version }}-windows-${{ matrix.arch }}"
        uses: actions/upload-artifact@v5
        with:
          name: traveling-ruby-${{ env.PKG_DATE }}-${{ matrix.ruby-version }}-windows-${{ matrix.arch}}.tar.gz
          path: windows/*.tar.gz

      - name: Publish archives and packages
        if: ${{ github.event_name == 'release' && github.event.action == 'published' }}
        uses: softprops/action-gh-release@master
        with:
          tag_name: ${{ github.event.release.tag_name }}
          name: 'Release ${{ github.event.release.tag_name }}'
          generate_release_notes: true
          body: ${{ github.event.release.body }}
          files: windows/traveling-ruby-*.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  test-windows-min:
    needs: build-windows
    strategy:
      matrix:
        arch: [x86_64]
        ruby-version: [3.2.9, 3.3.10, 3.4.7]
        os: [windows-latest]
        # include:
        #   - os: windows-11-arm
        #     arch: arm64
        #     ruby-version: 3.4.7
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - name: "Download Artifact"
        uses: actions/download-artifact@v5
        with:
          name: traveling-ruby-${{ env.PKG_DATE }}-${{ matrix.ruby-version }}-windows-${{ matrix.arch }}.tar.gz
          path: windows/
      - name: "Test binary"
        working-directory: windows
        shell: bash
        run: |
          mkdir output
          tar xzf traveling-ruby-${{ env.PKG_DATE }}-${{ matrix.ruby-version }}-windows-${{ matrix.arch }}.tar.gz -C output
          ../shared/test-gems.sh -p windows -a ${{ matrix.arch }} output
        env:
          RUBY_VERSIONS: ${{ matrix.ruby-version }}
          ARCHITECTURES: ${{ matrix.arch }}
  test-windows-full:
    needs: build-windows
    strategy:
      matrix:
        arch: [x86_64]
        ruby-version: [3.2.9, 3.3.10, 3.4.7]
        os: [windows-latest]
        # include:
        #   - os: windows-11-arm
        #     arch: arm64
        #     ruby-version: 3.4.7
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - name: "Download Artifact"
        uses: actions/download-artifact@v5
        with:
          name: traveling-ruby-${{ env.PKG_DATE }}-${{ matrix.ruby-version }}-windows-${{ matrix.arch }}.tar.gz
          path: windows/
      - name: "Test binary"
        working-directory: windows
        shell: bash
        run: |
          mkdir output
          tar xzf traveling-ruby-${{ env.PKG_DATE }}-${{ matrix.ruby-version }}-windows-${{ matrix.arch }}-full.tar.gz -C output
          ../shared/test-gems.sh -p windows -a ${{ matrix.arch }} output
        env:
          RUBY_VERSIONS: ${{ matrix.ruby-version }}
          ARCHITECTURES: ${{ matrix.arch }}
