name: Windows
on:
  workflow_dispatch:
  # push:
  #   branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  PKG_DATE: 20251107

jobs:
  build-windows:
    runs-on: macos-latest
    strategy:
      matrix:
        arch: [x86_64, x86]
        ruby-version: [3.2.9, 3.3.10, 3.4.7]
        include:
          - arch: arm64
            ruby-version: 3.4.7
      fail-fast: false
    steps:
      - uses: actions/checkout@v5
      - name: "Set up Ruby"
        uses: ruby/setup-ruby@master
        with:
          ruby-version: ${{ matrix.ruby-version }}
      - name: package ${{ matrix.arch }}
        run: |
          uname -m
          cd windows
          brew install 7zip
          rake
          ls
        env:
          RUBY_VERSIONS: ${{ matrix.ruby-version }}
          ARCHITECTURES: ${{ matrix.arch }}
      - name: "Upload Artifact - traveling-ruby-${{ env.PKG_DATE }}-${{ matrix.ruby-version }}-windows-${{ matrix.arch }}"
        uses: actions/upload-artifact@v5
        with:
          name: traveling-ruby-${{ env.PKG_DATE }}-${{ matrix.ruby-version }}-windows-${{ matrix.arch }}.tar.gz
          path: windows/traveling-ruby-${{ env.PKG_DATE }}-${{ matrix.ruby-version }}-windows-${{ matrix.arch }}.tar.gz

      - name: Process and rename gem archives
        working-directory: windows
        run: |
          for file in $(find traveling-ruby-gems-* -name '*.gz'); do
            gem_name=$(echo "${file%-*}" | tr '/' '-')
            gem_version=$(echo "${file%.tar.gz}" | awk -F- '{print $NF}')
            pkg_date=$(echo "${file%-*}" | cut -d'-' -f4)
            ruby_version=$(echo "${file%-*}" | tr '/' '-' | sed -E 's/.*-([0-9]+\.[0-9]+\.[0-9]+(-[a-z0-9]+)?)-([a-z]+)-([a-z0-9_]+)\.tar\.gz/\1/')
            echo $ruby_version-$gem_version.tar.gz
            cp "$file" $ruby_version-$gem_version.tar.gz
          done
          ls -l

      - name: Publish archives and packages
        if: ${{ github.event_name == 'release' && github.event.action == 'published' }}
        uses: softprops/action-gh-release@master
        with:
          tag_name: ${{ github.event.release.tag_name }}
          name: 'Release ${{ github.event.release.tag_name }}'
          generate_release_notes: true
          body: ${{ github.event.release.body }}
          files: windows/traveling-ruby-*.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  test-windows:
    needs: build-windows
    strategy:
      matrix:
        arch: [x86_64]
        ruby-version: [3.2.9, 3.3.10, 3.4.7]
        os: [windows-latest]
        include:
          - os: windows-11-arm
            arch: arm64
            ruby-version: 3.4.7
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - name: "Download Artifact"
        uses: actions/download-artifact@v5
        with:
          name: traveling-ruby-${{ env.PKG_DATE }}-${{ matrix.ruby-version }}-windows-${{ matrix.arch }}.tar.gz
          path: windows/
      - name: "Test binary"
        working-directory: windows
        shell: bash
        run: |
          mkdir output
          tar xzf traveling-ruby-${{ env.PKG_DATE }}-${{ matrix.ruby-version }}-windows-${{ matrix.arch }}.tar.gz -C output
          ../shared/test-gems.sh -p windows -a ${{ matrix.arch }} output
        env:
          RUBY_VERSIONS: ${{ matrix.ruby-version }}
          ARCHITECTURES: ${{ matrix.arch }}
