name: Windows
on:
  workflow_dispatch:
  push:
    branches: [ main, test/win-ext-arm ]
  pull_request:
    branches: [ main ]
  release:
    types: [published]

env:
  PKG_DATE: 20251111

jobs:
  build-windows:
    defaults:
        run:
          shell: bash
          # shell: msys2 {0}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # arch: [x86_64]
        # ruby-version: [3.2.9, 3.3.10, 3.4.7]
        # os: [windows-latest]
        include:
          - os: windows-11-arm
            arch: arm64
            ruby-version: 3.4.7
      fail-fast: false
    steps:
      # - uses: msys2/setup-msys2@v2
      #   # if: matrix.arch == 'arm64'
      #   with:
      #     msystem: CLANGARM64
      #     path-type: inherit
      #     update: true
      #     release: true
      #     install: >
      #       autotools
      #       mingw-w64-clang-aarch64-clang
          # pacboy: icu:p 7zip:p gcc:p pkg-config:p sqlite3:p libxml2:p libxslt:p libiconv:p libmariadbclient:p libpqxx:p xz:p gcc-libs:p
          # pacboy: icu:p 7zip:p gcc:p pkg-config:p sqlite3:p libxml2:p libxslt:p libiconv:p libmariadbclient:p libpqxx:p xz:p gcc-libs:p
          # pacboy: icu:p 7zip:p ccache:p cmake:p libtool:p openssl:p ncurses:p gmp:p libffi:p libyaml:p sqlite:p xz:p libmariadbclient:p libpqxx:p libssh2:p libxml2:p libxslt:p clang:p cc:p autotools:p doxygen:p graphviz:p gcc-libs:p gdbm:p libyaml:p libffi:p pdcurses:p openssl:p gmp:p tk:p
          
      - uses: actions/checkout@v5
      - name: Cache vendor gems
        id: cache-vendor
        uses: actions/cache@v4
        with:
            path: windows/cache/vendor
            key: windows-vendor-cache-${{ env.PKG_DATE }}-${{ matrix.ruby-version }}-${{ matrix.arch }}-${{ hashFiles(format('shared/gemfiles/{0}/Gemfile.lock', env.PKG_DATE)) }}
            restore-keys: |
              windows-vendor-cache-${{ env.PKG_DATE }}-${{ matrix.ruby-version }}-${{ matrix.arch }}-windows-vendor-cache-${{ env.PKG_DATE }}-

      - name: Cache RubyInstaller archives
        id: cache-rubyinstaller
        uses: actions/cache@v4
        with:
          path: windows/cache/*.7z
          key: windows-rubyinstaller-cache-${{ env.PKG_DATE }}-${{ matrix.ruby-version }}-${{ matrix.arch }}
          restore-keys: |
            windows-rubyinstaller-cache-${{ env.PKG_DATE }}-${{ matrix.ruby-version }}-${{ matrix.arch }}

      # - uses: ruby/setup-ruby-pkgs@v1
      #   # if: matrix.arch != 'arm64'
      #   with:
      #     # working-directory: shared/gemfiles/${{ env.PKG_DATE }}
      #     # msys2: icu-devel
      #     mingw:             icu 7zip gcc pkg-config sqlite3 libxml2 libxslt libiconv libmariadbclient libpqxx xz gcc-libs gcc
      #     # mingw:             ccache cmake libtool openssl ncurses gmp libffi libyaml sqlite xz libmariadbclient libpqxx icu libssh2 libxml2 libxslt clang cc autotools doxygen graphviz gcc-libs gdbm libyaml libffi pdcurses openssl gmp tk
      #     # mingw:             ccache cmake pkg-config libtool openssl ncurses gmp libffi libyaml sqlite xz libmariadbclient libpqxx icu libssh2 libxml2 libxslt clang cc autotools doxygen graphviz gcc-libs gdbm libyaml libffi pdcurses openssl gmp tk
      #     ruby-version: ${{ matrix.ruby-version }}
          # bundler-cache: true
      # - name: build ruby ${{ matrix.ruby-version }} ${{ matrix.arch }}
      #   # shell: msys2 {0}
      #   if: matrix.arch == 'arm64'
      #   working-directory: windows
      #   run: |
      #       set MSYSTEM=CLANGARM64
      #       ridk install 2 3
      #       ridk enable
      #       uname -m
      #       ridk exec sh -c "mkdir -p cache output/${{ matrix.ruby-version }}/${{ matrix.arch }}"
      #       ridk exec sh -c "./build-ruby.sh -a ${{ matrix.arch }} -r ${{ matrix.ruby-version }} cache output/${{ matrix.ruby-version }}/${{ matrix.arch }}"
      #   env:
      #     RUBY_VERSIONS: ${{ matrix.ruby-version }}
      #     ARCHITECTURES: ${{ matrix.arch }}
      - name: install msys2 ${{ matrix.ruby-version }} ${{ matrix.arch }}
        working-directory: windows
        run: |
            choco install -y msys2
      - name: setup msys2 ${{ matrix.ruby-version }} ${{ matrix.arch }}
        working-directory: windows
        run: |
            msys2 -clangarm64 -defterm off -no-start -c "pacman -Syu --noconfirm"
            msys2 -clangarm64 -defterm off -no-start -c "pacman -Sy --noconfirm autotools mingw-w64-clang-aarch64-clang"
      - name: build ruby ${{ matrix.ruby-version }} ${{ matrix.arch }}
        # shell: bash
        # shell: msys2 {0}
        # if: matrix.arch != 'arm64'
        working-directory: windows
        run: |
            uname -m
            mkdir -p cache output/${{ matrix.ruby-version }}/${{ matrix.arch }}
            ./build-ruby.sh -a ${{ matrix.arch }} -r ${{ matrix.ruby-version }} cache output/${{ matrix.ruby-version }}/${{ matrix.arch }}
        env:
          RUBY_VERSIONS: ${{ matrix.ruby-version }}
          ARCHITECTURES: ${{ matrix.arch }}
      - name: package ${{ matrix.arch }}
        # shell: bash
        working-directory: windows
        run: |
            ./package.sh -r traveling-ruby-${{ env.PKG_DATE }}-${{ matrix.ruby-version }}-windows-${{ matrix.arch }}.tar.gz output/${{ matrix.ruby-version }}/${{ matrix.arch }}
            ./package.sh -E traveling-ruby-gems-${{ env.PKG_DATE }}-${{ matrix.ruby-version }}-windows-${{ matrix.arch }} output/${{ matrix.ruby-version }}/${{ matrix.arch }}
            touch traveling-ruby-gems-${{ env.PKG_DATE }}-${{ matrix.ruby-version }}-windows-${{ matrix.arch }}/ok
            ./package.sh -f -r traveling-ruby-${{ env.PKG_DATE }}-${{ matrix.ruby-version }}-windows-${{ matrix.arch }}-full.tar.gz output/${{ matrix.ruby-version }}/${{ matrix.arch }}
        env:
          RUBY_VERSIONS: ${{ matrix.ruby-version }}
          ARCHITECTURES: ${{ matrix.arch }}
      - name: test gems
        # shell: bash
        working-directory: windows
        run: |
          ../shared/test-gems.sh -p windows -a ${{ matrix.arch }} output/${{ matrix.ruby-version }}/${{ matrix.arch }}
        env:
          RUBY_VERSIONS: ${{ matrix.ruby-version }}
          ARCHITECTURES: ${{ matrix.arch }}
      - name: package gems
        # shell: bash
        run: ./scripts/package-gems.sh    
        env:
          PLATFORM: windows
      - name: "Upload Artifact - traveling-ruby-${{ env.PKG_DATE }}-${{ matrix.ruby-version }}-windows-${{ matrix.arch }}"
        uses: actions/upload-artifact@v5
        with:
          name: traveling-ruby-${{ env.PKG_DATE }}-${{ matrix.ruby-version }}-windows-${{ matrix.arch}}.tar.gz
          path: windows/*.tar.gz

      - name: Publish archives and packages
        if: ${{ github.event_name == 'release' && github.event.action == 'published' }}
        uses: softprops/action-gh-release@master
        with:
          tag_name: ${{ github.event.release.tag_name }}
          name: 'Release ${{ github.event.release.tag_name }}'
          generate_release_notes: true
          body: ${{ github.event.release.body }}
          files: windows/traveling-ruby-*.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  test-windows-min:
    needs: build-windows
    strategy:
      matrix:
        # arch: [x86_64]
        # ruby-version: [3.2.9, 3.3.10, 3.4.7]
        # os: [windows-latest]
        include:
          - os: windows-11-arm
            arch: arm64
            ruby-version: 3.4.7
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - name: "Download Artifact"
        uses: actions/download-artifact@v5
        with:
          name: traveling-ruby-${{ env.PKG_DATE }}-${{ matrix.ruby-version }}-windows-${{ matrix.arch }}.tar.gz
          path: windows/
      - name: "Test binary"
        working-directory: windows
        shell: bash
        run: |
          mkdir output
          tar xzf traveling-ruby-${{ env.PKG_DATE }}-${{ matrix.ruby-version }}-windows-${{ matrix.arch }}.tar.gz -C output
          ../shared/test-gems.sh -p windows -a ${{ matrix.arch }} output
        env:
          RUBY_VERSIONS: ${{ matrix.ruby-version }}
          ARCHITECTURES: ${{ matrix.arch }}
  test-windows-full:
    needs: build-windows
    strategy:
      matrix:
        # arch: [x86_64]
        # ruby-version: [3.4.7]
        # os: [windows-latest]
        include:
          - os: windows-11-arm
            arch: arm64
            ruby-version: 3.4.7
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - name: "Download Artifact"
        uses: actions/download-artifact@v5
        with:
          name: traveling-ruby-${{ env.PKG_DATE }}-${{ matrix.ruby-version }}-windows-${{ matrix.arch }}.tar.gz
          path: windows/
      - name: "Test binary"
        working-directory: windows
        shell: bash
        run: |
          mkdir output
          tar xzf traveling-ruby-${{ env.PKG_DATE }}-${{ matrix.ruby-version }}-windows-${{ matrix.arch }}-full.tar.gz -C output
          ../shared/test-gems.sh -p windows -a ${{ matrix.arch }} output
        env:
          RUBY_VERSIONS: ${{ matrix.ruby-version }}
          ARCHITECTURES: ${{ matrix.arch }}
